@use "../variables" as *;

// Outline Card
.v-card--variant-outlined {
  border-color: rgba(var(--v-theme-borderLight), 1);

  .v-divider {
    border-color: rgba(var(--v-border-color), 1);
  }
}

.card-hover-border {
  border: 1px solid rgb(var(--v-theme-borderLight));

  &:hover {
    border: 1px solid rgb(var(--v-theme-primary));
  }
}

.card-shadow {
  box-shadow: var(--v-card-shadow);
}

.title-card {
  .v-card-text {
    background-color: rgb(var(--v-theme-background));
    border: 1px solid rgba(var(--v-theme-borderLight), 1);
  }
}