.v-input:not(.v-autocomplete--multiple),
.v-field--variant-solo,
.v-field--variant-filled {
  --v-input-padding-top: 2px;
  input.v-field__input {
    padding-bottom: 2px;
  }
  .v-field__input {
    padding-bottom: 2px;
  }
  textarea {
    padding-top: 11px;
  }
}

.v-field__input {
  padding-left: 12px;
}

.v-input--density-default {
  .v-field:not(.v-field--variant-filled) {
    .v-field__input {
      min-height: 40px;
    }

    .v-label {
      &.v-field-label--floating {
        font-size: 0.70rem;
      }
    }
  }

  .v-field__input {
    row-gap: 6px;
  }

  .v-field--variant-underlined {
    --v-field-padding-top: 10px;
  }
}

.v-input--density-compact {
  .v-field__input {
    min-height: 32px;
  }
}
.v-field--variant-outlined {
  &.v-field--focused {
    .v-field__outline {
      --v-field-border-width: 1px;
    }
  }
}
.v-input {
  .v-input__details {
    padding-inline: 0;
  }
}

.v-input--density-comfortable {
  --v-input-control-height: 56px;
  --v-input-padding-top: 17px;
}
.v-label {
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: normal;
  --v-medium-emphasis-opacity: 0.8;
}
.v-switch .v-label,
.v-checkbox .v-label {
  opacity: 1;
}

textarea.v-field__input {
  font-size: 14px;
}

.textarea-input {
  .v-label {
    top: 15px;
  }
}