@use "../variables" as *;

.v-text-field:not(.v-time-picker-controls__time__field) {
  input {
    font-size: 0.875rem;
    line-height: 1;
  }
}

.v-text-field {
  &.v-input--disabled {
    .v-field {
      .v-field__input {
        opacity: 0.475;
      }
    }
  }
}
.inputWithbg {
  .v-field--variant-outlined {
    background-color: rgba(0, 0, 0, 0.025);
  }
}

.v-select {
  .v-field {
    font-size: 0.875rem;
  }

  .v-field__clearable {
    .anticon {
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}


.v-field--variant-outlined {
  .v-label {
    &.v-field-label--floating {
      background: rgb(var(--v-theme-surface));
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .v-label.v-field-label {
    color: rgb(var(--v-theme-gray300));
    --v-medium-emphasis-opacity: 1;
  }

  .v-input--disabled {
    .v-label.v-field-label {
      --v-medium-emphasis-opacity: 0.4;
    }
  }
}