@use "sass:math";
@use "sass:map";
@use "sass:meta";
@use "vuetify/lib/styles/tools/functions" as *;
@use "./grid/grid-breakpoints" as *;

// Global font size and border radius
$border-radius-root: 4px;
$body-font-family: "Public sans", sans-serif !default;
$btn-font-weight: 400 !default;
$btn-letter-spacing: 0 !default;

// Custom Variables
// colors
$white: #fff !default;
$black: #000 !default;

// Global Shadow
$box-shadow: 0px 0px 4px rgba($black, 0.08);
$box-shadow2: 0px 3px 1px -2px rgba($black,0.2);
$box-shadow3: 0px 3px 3px -2px rgba($black,0.2);
$box-shadow4: 0px 2px 1px -1px rgba($black, 0.2);
$box-shadow5: 0px 3px 5px -1px rgba($black,0.2);
$box-shadow1: 0 2px 8px 0 rgba($black, 0.15);

$theme-colors: (
  primary: var(--v-theme-primary),
  secondary: var(--v-theme-secondary),
  success: var(--v-theme-success),
  info: var(--v-theme-info),
  warning: var(--v-theme-warning),
  error: var(--v-theme-error),
);

// Vuetify overrides
@use "vuetify/styles" with ($grid-breakpoints: $custom-grid-breakpoints,

  // This will false all colors which is not necessory for theme
  $color-pack: false,

  // global font family
  $body-font-family: $body-font-family,
  $heading-font-family: $body-font-family,

  // Global Radius as per breakeven point
  $rounded: ((0: 0,
      "sm": $border-radius-root * 0.5,
      null: $border-radius-root,
      "md": $border-radius-root * 1,
      "lg": $border-radius-root * 2,
      "xl": $border-radius-root * 6,
      "pill": 9999px,
      "circle": 50%,
      "shaped": $border-radius-root * 6 0)),

  // Box Shadows
  $shadow-key: (1: $box-shadow1,
    2: $box-shadow2,
    3: $box-shadow3,
    4: $box-shadow4,
    5: $box-shadow5 ),
  $shadow-ambient: (1: (0 0 transparent),
    2: (0px 2px 2px 0px rgba($black,0.14),0px 1px 5px 0px rgba($black,0.12)),
    3: (0px 3px 4px 0px rgba($black,0.14),0px 1px 8px 0px rgba($black,0.12)),
    4: (0px 1px 3px 0px rgba($black, 0.12)),
    5: (0px 5px 8px 0px rgba($black,0.14),0px 1px 14px 0px rgba($black,0.12))),

  // Global Typography
  $font-size-root: 1rem,
  $typography: ("display-large": ("size": 2.375rem,
      "weight": 600,
      "letter-spacing": normal,
      "line-height": 1.21,
      "font-family": inherit,
    ),
    "display-medium": ("size": 1.875rem,
      "weight": 600,
      "letter-spacing": normal,
      "line-height": 1.27,
      "font-family": inherit,
    ),
    "display-small": ("size": 1.5rem,
      "weight": 600,
      "line-height": 1.33,
      "font-family": inherit,
    ),
    "headline-large": ("size": 1.25rem,
      "weight": 600,
      "letter-spacing": normal,
      "line-height": 1.4,
      "font-family": inherit,
    ),
    "headline-medium": ("size": 1rem,
      "weight": 600,
      "line-height": 1.5,
      "font-family": inherit,
    ),
    "headline-small": ("size": 0.875rem,
      "weight": 400,
      "letter-spacing": normal,
      "line-height": 1.57,
      "font-family": inherit,
    ),
    "body-large": ("size": 0.875rem,
      "weight": 600,
      "letter-spacing": normal,
      "line-height": 1.57,
      "font-family": inherit,
    ),
    "body-small": ("size": 0.75rem,
      "weight": 500,
      "letter-spacing": normal,
      "line-height": 1.66,
      "font-family": inherit,
    ),
    "body-medium": ("size": 0.875rem,
      "weight": 400,
      "line-height": 1.57,
      "letter-spacing": normal,
      "font-family": inherit,
    ),
    "label-large": ("size": 0.75rem,
      "weight": 400,
      "line-height": 1.66,
      "letter-spacing": normal,
      "font-family": inherit,
    ),
    "button": ("size": 0.875rem,
      "weight": 500,
      "font-family": inherit,
      "text-transform": uppercase,
    ),
    "label-small": ("size": 0.75rem,
      "weight": 400,
      "letter-spacing": 0,
      "line-height": 1.66,
      "font-family": inherit,
    ),
    "label-medium": ("size": 0.75rem,
      "weight": 400,
      "font-family": inherit,
      "line-height": 1.67,
      "letter-spacing": 0,
      "text-transform": uppercase,
    )));